
@{
    ViewData["Title"] = "Transaction";
}

<h1>Transaction</h1>

<h2>Balance: @Context.Session.GetString("balance")</h2>

<form asp-action="Transaction">
    <input name="amount"/>
    <input type="submit" name="Deposit" value="Deposit" />
    <input type="submit" name="Withdraw" value="Withdraw" />
</form>
