<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="angular.min.js"></script>
</head>
<body>
    <div ng-app="myApp" ng-controller="myController">
    <p>Enter a number: <input type="number" ng-model="number"> </p>
    <button ng-click="cal()">Square</button>
    <p>Result: {{result}}</p>
</div>
    <script>
        var app = angular.module("myApp", [])
        app.factory("myFactory", function(){
            var factory = {}
            factory.square = function(a){
                return a*a;
            }
            return factory
        })
        app.controller("myController", function($scope, myFactory){
            $scope.cal = function(){
                $scope.result = myFactory.square($scope.number)
            }
        })
    </script>
</body>
</html>