<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="angular.min.js"></script>
</head>
<body>
    <div ng-app="myApp" ng-controller="myController">
        <p>Enter radius of circle:
            <input type="number" ng-model="number">
        </p>
        <button ng-click="area()">Area</button>
        <p>Result {{result}}</p>

    </div>
    <script>
        var app = angular.module("myApp", [])
        app.constant("pi", "3.14")
        app.controller("myController", function($scope, pi){
            $scope.area = function(){
                $scope.result = pi*($scope.number * $scope.number)
            }
        })
    </script>
</body>
</html>