@{
    ViewData["Title"] = "Transaction";
}

<h1>Transaction</h1>

<h2>Balance: @(Context.Session.GetInt32("balance") ?? 0)</h2>

<form asp-action="Transaction" method="post">
    <input name="amount" />
    <input type="submit" name="Deposit" value="Deposit" />
    <input type="submit" name="Withdraw" value="Withdraw" />
</form>
