<!-- AccountDetails.cshtml -->
@model ExaminationWDACF.Models.Account

<h1>Account Details</h1>

<p>Account No: @Model.AccountNo</p>
<p>Account Name: @Model.AccountName</p>
<p>Balance: @Model.Balance</p>

<p><a  asp-action="Index">Logout</a></p>
