@{
    ViewData["Title"] = "Index";
}

<h1>Login Page</h1>
<div class="alert alert-danger">
    @if (!string.IsNullOrEmpty(ViewData["Error"] as string))
    {
        <h4>@ViewData["Error"]</h4>
    }
</div>
    <form asp-action="Login">
        <table>
            <tr>
                <td><input name="username" placeholder="Enter no..." /></td>
            </tr>
            <tr>
                <td><input name="password" type="password" placeholder="Enter pin..." /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Sign in" /></td>
            </tr>
        </table>
    </form>
