<div class="content">
    <form action="/sua/<%- dulieu[0]._id %>" method="post" class="them">
        <label>Title:</label> <input type="text" name="Title" value="<%- dulieu[0]._Title %>">
        <label>Description:</label> <input type="text" name="Description" value="<%- dulieu[0]._Discription %>">
        <label>Author:</label> <input type="text" name="Author" value="<%- dulieu[0]._Author %>">
        <label for="">
            <a href="/">Back</a></label>
        <div>
            <button type="submit">Sửa</button>
        </div>
    </form>
</div>