<!-- AccountDetails.cshtml -->
@model Student1427717.Models.tbBook

<h1>Book Details</h1>

<p>Book Name: @Model.Title</p>
<p>Unit Price: @Model.Price</p>
<p>Image: @Model.ImageUrl</p>


<p><a asp-action="Index">Back to List</a></p>
