@model IEnumerable<Student1427717.Models.tbBook>

@{
    ViewData["Title"] = "Index";
}

<form asp-controller="Book" asp-action="Index" method="get">
    Book Name: <input name="title" /> <input type="submit" value="Search" />
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    BookName
                </th>
                <th>
                   Image
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        <img src="~/images/@item.ImageUrl" width="100px" />
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">View Detail</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No results found.</p>
}
