<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="angular.min.js"></script>
</head>

<body>
    <div ng-app="myApp" ng-controller="myController">
        <input type="text" ng-model="fname" placeholder="Nhap ten">
        <br>
        <input type="text" ng-model="lname" placeholder="Nhap ho">
        <br>
        <h2>Ho va ten: {{lname + fname}}</h2>
        <script>
            var app = angular.module("myApp", [])
            app.controller("myController", function ($scope) {
                $scope.fname = "Van A";
                $scope.lname = "NGuyen";
            })
        </script>


    </div>
</body>

</html>